 /*
  * CSS File for the template single-badge.php
  *
  * Version:            1.0.0
  * Author:             Alexandre Levacher
 */
 
div#primary { 
    margin: 2% 10% 2% 10%; 
}

div#taxonomies { 
    text-align: left;
}

div a { 
    color: black;
}